/* .navbar-nav{
    margin: auto;
}
.nav-link{
    font:bold 700 15px/2px var(--rubik);
    text-transform: uppercase;
    font-weight: 500;
    padding:1.7rem;
    color:  #1b7e91;
    margin:0rem 1rem 0rem 1rem;
}
.nav-link:hover {
    color: #08b5b8;
}
.nav-link:active{
    color:#08b5b8;
} */